.sidebar{
    width:280px;
    background:#1f2937;
    color:white;

    display:flex;
    flex-direction:column;

    min-height:100vh;
}

.logo{
    padding:30px;
    border-bottom:1px solid rgba(255,255,255,.1);
}


nav{
    padding:20px;
}


nav a{
    display:block;

    padding:14px 18px;

    border-radius:8px;

    color:#d1d5db;
    text-decoration:none;

    margin-bottom:6px;

    transition:.2s;
}


nav a:hover{
    background:#374151;
    color:white;
}